extends ../_layout

block content
    .row
        .col-xs-offset-1.col-xs-10.col-sm-offset-4.col-sm-4
            form(action="" method="post" id="loginForm")
                input.form-control(type="text" name="email" placeholder="Enter Username")
                input.form-control(type="text" name="password" placeholder="Enter Password")
                button(type="button" class="btn btn-danger col-xs-12" id="loginBtn")
                    | Sign in
block additionalScripts
    script(src="/static/js/user/login.js")