include _mixins/_navigation

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Cooking Recipes:
            block site-title
        link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
        block styles

    body
        
        header
            +site-navigation
        .container
            include partials/flash
        #content.container
            block content        
        footer.text-center
            p TeamFreedom 2016(NodeJS)
    script(src="/static/bower_components/jquery/dist/jquery.js")
    script(src="/static/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/static/js/main.js")

    block additionalScripts

