include _mixins/_navigation
include _mixins/_authorizedNavigation

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Cooking Recipes:
            block site-title
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="/static/css/Material/css/bootstrap.min.css")
        //- link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/static/css/Material/css/mdb.min.css")
        link(rel="stylesheet", href="/static/css/main.css")
        block styles

    body
        
        header
            if user
                +user-navigation
            else
                +site-navigation
        main.pt-3
            .container
                include partials/flash
            #content
                block content        
        footer.text-center.page-footer.navbar-fixed-bottom.navbar-dark.warning-color-dark
            .footer-copyright
                .container-fluid © 2015 Copyright: TeamFreedom 2016



    //- script(src="/static/bower_components/jquery/dist/jquery.js")
    //- script(src="/static/bower_components/bootstrap/dist/js/bootstrap.js")

    script(type="text/javascript" src="/static/js/Material/jquery-2.2.3.min.js")
    script(type="text/javascript" src="/static/js/Material/tether.min.js")
    script(type="text/javascript" src="/static/js/Material/bootstrap.min.js")
    script(type="text/javascript" src="/static/js/Material/mdb.min.js")
    script(src="/static/js/main.js")


    block additionalScripts

