extends ../_layout

block content
    .container
        ul
            each category in model
                li.col-lg-4.col-sm-6.col-xs-12
                    .card
                        .view.overlay.hm-white-slight
                            img(src=category.imgUrl)
                            a(href="/categories/" + category.id)
                                .mask
                        .card-block.text-xs-center
                            a(href="/categories/" + category.id)
                                h3.h3-responsive= category.name

