extends ../_layout

block content
    ul
        each category in model
            li.col-xs-4
                a(href="/categories/category/" + category.id)= category.name
                img(src=category.imgUrl)
                    