extends ../_layout

block content
    ul
        if categories.length
            each category in categories
                li.col-xs-4
                    a(href="/categories/" + category.id)= category.name
                    img(src=category.imgUrl)
