extends ../_layout

block content
    .text-center
        form.form-inline(action="/categories" method="post")
            input.form-control(type="text" name="name" placeholder="Category name")
            input.form-control(type="text" name="imgUrl" placeholder="Category image url.")
            button.btn.btn-danger(type="submit") Create

        h3 Categories
        if model
            each category in model
                div
                    div Name: #{category.name}