extends ../_layout

block content
    if model
        h2= model.name

        ul
            each recipe in model.recipes
                li
                    a(href="/recipes/" + recipe.id)= recipe.title
                        img(src= recipe.imageUrl)
                li
                    p Автор:
                       