extends ../_layout

block content
    .container
        h2.h2-responsive.text-capitalize Статии
        ul.articles-list
            each article in model
                li.col-xs-12
                    .card.card-block
                        .article-img-wrapper.rounded-circle.crop.z-depth-2
                            img.article-img.img-fluid(src=article.imgUrl)
                        div
                            a(href="/articles/" + article.id)
                                h4.card-title= article.title
                            hr
                            p.card-text= article.content

                    