extends ../_layout

    block content
        .text-center
            if model
                div Редактирай #{model}
                    form.form-inline(action="/articles/edit" method="put")
                        | Ново Заглавие
                        input.form-control(type="text" name="title" placeholder="Article title")
                        | Нов линк
                        input.form-control(type="text" name="imgUrl" placeholder="Article image url.")
                        br
                        textarea.form-control(name="content")
                        button.btn.btn-danger(type="submit") Редактирай