mixin ingredient
    .ingredient-container.text-center
        .ingredient
            input(type="text" name="name" placeholder="Име на съставка")
            input(type="text" name="quantity" placeholder="Количество")
            select(name="units")
                option(value="грам" selected="true")
                    | грам
                option(value="мл")
                    | мл
                option(value="брой")
                    | брой
                option(value="чл")
                    | ч.л.
                option(value="сл")
                    | с.л.