mixin site-navigation
    nav.navbar.navbar-dark.warning-color-dark.navbar-fixed-top
            button.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#main-navbar-collapse")
                i.fa.fa-bars
            a.navbar-brand(href="/") Вкусно
            .collapse.navbar-toggleable-xs(id="main-navbar-collapse")
                ul.nav.navbar-nav
                    li.nav-item.nav-link
                        a(href="/categories/list") Категории
                    li.nav-item.nav-link
                        a(href="/articles/list") Статии
                ul.nav.navbar-nav.navbar-right                                       
                    li.nav-item.nav-link
                        a(href="/register") 
                            | Регистрирай се
                    li.nav-item.nav-link
                        a(href="/login")
                                | Влез!
                    li.nav-item
                        form.form-inline(action="/search" method="get")
                            input.form-control(type="text" name="pattern" placeholder="Търси")
                        