mixin recipe-info-admin(recipe)
    .recipe-info-container.text-center
        img(src=recipe.imageUrls[0])
        .recipe-info
            strong
                = recipe.title
            br

            a.btn.btn-danger(href="recipes/edit/"+recipe._id)
                | Редактирай/Изтрий